<p>The VODs on this site come from the following YouTube channels. Thanks for uploading your VODs.</p>

<ul>
  {% for channel in channels %}
    <li>
      <a href="{{ channel.url }}" rel="noopener noreferrer">{{ channel.name }}</a>
    </li>
  {% endfor %}
</ul>

<p>
  If you know more channels that you would like to see added, feel free to DM
  <a href="https://discordapp.com/users/akbiggs">akbiggs</a> on Discord.
</p>

<p>Special thanks:</p>

<ul>
  <li><a href="https://github.com/Lumi-sg" rel="noopener noreferrer">Lumi</a>: tons of VODs, styling, playlist ingestion.</li>
  <li>
    <a href="https://github.com/dwinings" rel="noopener noreferrer">Wisp</a> for contributing
    <a href="https://github.com/akbiggs/vods2/pull/1" rel="noopener noreferrer">style improvements.</a>
  </li>
</ul>
