<style>
    {%include "/submit/submit.css"%}
</style>

To suggest additional VODS for the website you can do one of the following:
<ul class="submitBullets">
    <li>
        <a href="https://github.com/akbiggs/vods2/edit/main/data/vods.csv" rel="noopener noreferrer">Edit this file</a>.
    </li>
    <li>
        If you have development experience, please see the project's <a href="https://github.com/akbiggs/vods2?tab=readme-ov-file#adding-vods-from-a-youtube-channel" rel="noopener noreferrer">readme for instructions</a>.
    </li>
    <br>
    <li>
        You can create an <a href ="https://github.com/akbiggs/vods2/issues/new" rel="noopener noreferrer">issue on the project Github page</a> and we'll add the VODS for you.
        <ul>
            <li>
             <u><b>VODS must contain one of the following forms of metadata:</u></b>
            </li>
            <ul>
                <li>
                    Separate and properly titled videos including:
                    <ul>
                        <li>
                            The title of the event
                        </li>
                        <li>
                            Names of both players
                        </li>
                        <li>
                            Both respective characters
                        </li>
                        <li>
                            Round names are great but not required.
                        </li>
                        <li>
                            A reference to Rivals 2 in the title is helpful but again optional. E.g. Rivals II, RoA2, Rivals of Aether 2
                        </li>
                        <li>
                            Some sort of symbol to separate the metadata such as a hyphen or bracket.
                        </li>
                        <li>
                            <span>Example Formatting: 
                            <ul>
                            <br>
                                <li>
                                    <b>Event Name - Round - Player 1 (Character 1) vs. Player 2 (Character 2) - Rivals II</b>
                                </li>
                                <br>
                            </ul>
                            </span>
                        </b>
                        </li>
                    </ul>
                </li>
                <li>
                    A single large VOD with a description containing timestamps, player names and respective characters.
                    <ul>
                        <li>
                            <a href="https://github.com/akbiggs/vods2/blob/main/db.py#L822" rel="noopener noreferrer">Example of needed metadata.</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </ul>
    </li>
</ul>




