{# The request path stuff is to help highlight which page the user is on #}
<nav class="navbar">
    <a class="navbar-item {% if request.path == '/' %}is-active{% endif %}" href="/">Home</a>
    <a class="navbar-item {% if request.path == '/submit' %}is-active{% endif %}" href="/submit">Submit</a>
    <a class="navbar-item {% if request.path == '/credits' %}is-active{% endif %}" href="/credits">Credits</a>
    <a class="navbar-item {% if request.path == '/contact' %}is-active{% endif %}" href="/contact">Contact</a>
    <a class="navbar-item {% if request.path == '/about' %}is-active{% endif %}" href="/about">About</a>
</nav>

 {% include "updates/updates.jinja2" %}
