
<ul>
    <li>
        If you have any questions, suggestions, or issues to report, you can report them on the <a href="https://github.com/akbiggs/vods2/issues/new">the github page.</a>
    </li>
    <li>
    You can also DM <a href="https://discordapp.com/users/akbiggs">akbiggs</a> or <a href="https://discordapp.com/users/lumi_s">lumi_s</a> on Discord.
    </li>
</ul>