<p>
  This site is
  <a href="https://www.github.com/akbiggs/vods2" rel="noopener noreferrer">built</a>
  with Python using
  <a href="https://flask.palletsprojects.com" rel="noopener noreferrer">Flask</a>
  and
  <a href="https://click.palletsprojects.com" rel="noopener noreferrer">Click</a>.
</p>

<p>Special thanks:</p>

<ul>
  <li><a href="https://github.com/Lumi-sg" rel="noopener noreferrer">Lumi</a>: tons of VODs, styling, playlist ingestion.</li>
  <li>
    <a href="https://github.com/dwinings" rel="noopener noreferrer">Wisp</a> for contributing
    <a href="https://github.com/akbiggs/vods2/pull/1" rel="noopener noreferrer">style improvements.</a>
  </li>
</ul>

<p>Roadmap:</p>

<ul>
  <li>Add more VODs.</li>
  <li>Make the character order in the VODs table reflect the search order.</li>
</ul>