<p>
  This site is
  <a href="https://www.github.com/akbiggs/vods2" rel="noopener noreferrer">built</a>
  with Python using
  <a href="https://flask.palletsprojects.com" rel="noopener noreferrer">Flask</a>
  and
  <a href="https://click.palletsprojects.com" rel="noopener noreferrer">Click</a>.
</p>

<p>Roadmap:</p>

<ul>
  <li>Add more VODs.</li>
  <li>Make the character order in the VODs table reflect the search order.</li>
  <li>See <a href="https://www.github.com/akbiggs/vods2/tree/main/todo.md">the TODO list</a> for more.</li>
</ul>