<!doctype html>
<head>
<title>Rivals 2 VODS</title>
<style>
{% include "styles.css" %}
</style>
</head>

<body>

{% if not is_search %}
<h1>Recent VODS</h1>

<p>Last updated August 16th 2025 (Supernova, more monthlies and other locals (thanks Lumi!!)).</p>
{% else %}
<h1>Search Results</h1>
{% endif %}

<div class="content-body">
    {% include "search_table.jinja2" %}
</div>
{# we do this on the top and bottom of the table to eliminate the need to scroll up and down to navigate #}
{% if pagination %}
<div class="pagination-links">
    {{ pagination.links }}
</div>
{% endif %}

<div class="content-body">
    {% include "vods_table.jinja2" %}
</div>



<h1>Submit a VOD</h1>

To suggest a VOD you can <a href="https://github.com/akbiggs/vods2/edit/main/data/vods.csv">edit this file</a>.

</div>

<h1>Credits</h1>

<div class="content-body">
    {% include "credits.jinja2" %}
</div>

</body>
