<!doctype html>
<head>
    <title>Rivals 2 VODS</title>
    <style>
        {% include "styles.css" %}
    </style>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {# Open Graph Meta Tags #}
    <meta property="og:title" content="Rivals 2 Vods"/>
    <meta property="og:site_name" content="Rivals 2 Vods"/>
    <meta property="og:description" content="Searchable database of Rivals of Aether 2 VODs"/>
    <meta name="description" content="Searchable database of Rivals of Aether 2 VODs"/>
    <meta property="og:image" content="{{ url_for('static', filename='ROA2Logo.png', _external=True) }}"/>
    <meta property="og:image:width" content="512"/>
    <meta property="og:image:height" content="512"/>
    <meta property="og:url" content="https://www.rivals2vods.com/"/>
    <meta property="og:type" content="website"/>
    <meta name="theme-color" content="#2e2e53"/>
</head>
<body>

    {# Always display #}
    <div class="navbarContainer">
        {% include "./navbar/navbar.jinja2" %}
    </div>
    
    {# Search Page Render #}
    {% if request.path == "/" %}
        <div class="content-body-search">
            {% include "./search/search_table.jinja2" %}
        </div>
        <div class="content-body">
            {% include "./table/vods_table.jinja2" %}
        </div>
        {% if pagination %}
            <div class="pagination-links">
                {{ pagination.links }}
            </div>
        {% endif %}

    {# Submit Page Render #}
    {% elif request.path == "/submit" %}
        <div class="infoPages">
            {% include "./submit/submit.jinja2" %}
        </div>
    {# Credits Page Render #}
    {% elif request.path == "/credits" %}
        <div class="infoPages">
            {% include "./credits/credits.jinja2" %}
        </div>
    {# Contact Page Render#}
    {% elif request.path == "/contact" %}
        <div class="infoPages">
            {% include "./contact/contact.jinja2" %}
        </div>
    {# About Page Render#}
    {% elif request.path == "/about" %}
        <div class="infoPages">
            {% include "./about/about.jinja2" %}
        </div>
    {% endif %}
</body>
