<!doctype html>
<head>
    <title>Rivals 2 VODS</title>
    <style>
        {% include "styles.css" %}
    </style>
</head>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<body>

    {# Always display #}
    <div class="navbarContainer">
        {% include "./navbar/navbar.jinja2" %}
    </div>
    
    {# Search Page Render #}
    {% if request.path == "/" %}
        <div class="content-body-search">
            {% include "./search/search_table.jinja2" %}
        </div>
        <div class="content-body">
            {% include "./table/vods_table.jinja2" %}
        </div>
        {% if pagination %}
            <div class="pagination-links">
                {{ pagination.links }}
            </div>
        {% endif %}

    {# Submit Page Render #}
    {% elif request.path == "/submit" %}
        <div class="infoPages">
            {% include "./submit/submit.jinja2" %}
        </div>
    {# Credits Page Render #}
    {% elif request.path == "/credits" %}
        <div class="infoPages">
            {% include "./credits/credits.jinja2" %}
        </div>
    {# Contact Page Render#}
    {% elif request.path == "/contact" %}
        <div class="infoPages">
            {% include "./contact/contact.jinja2" %}
        </div>
    {# About Page Render#}
    {% elif request.path == "/about" %}
        <div class="infoPages">
            {% include "./about/about.jinja2" %}
        </div>
    {% endif %}
</body>
