 <nav class="navbar">
    <a class="navbar-item" href="/">Home</a>
    <a class="navbar-item" href="/search">Search</a>
    <a class="navbar-item" href="/submit">Submit</a>
    <a class="navbar-item" href="/credits">Credits</a>
    <a class="navbar-item" href="#">Contact</a>
    <a class="navbar-item" href="#">About</a>
 </nav>
 {% include "updates.jinja2" %}
