:root {
	--text-primary: black;
	--table-border: black;
}

.flex-row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.flex-col {
	display: flex;
	flex-direction: column;
	align-content: center;
}

body {
	margin-top: 20px;
	margin-left: 20px;
	font-family: sans-serif;
	background-color: #121212;
	color: CanvasText;
	color-scheme: light dark;
	box-sizing: content-box;
}

.content-body {
	margin: 10px;
}

summary {
	cursor: pointer;
}

table,
th,
td {
	border: none;
	text-align: left;
}
.tablerheaders {
	color: #6161b2;
}

.vod-table-container {
	max-height: 82vh;
	min-height: 200px;
	overflow-y: auto;
	overscroll-behavior: contain; /* prevent page scrolling at end of vods when scrolling the table */
	max-width: 60%;
	padding: 0 1rem;
	transition: max-height 0.3s ease, height 0.3s ease;
}
/*shrink table when search is open*/
body:has(details[open]) .vod-table-container {
	max-height: 64vh;
}

.vodtable {
	width: 100%;
	border: 1px solid var(--text-primary);
	/* text-align: left; */
	border-spacing: 0;
	font-family: sans-serif;
	font-size: 0.95rem;
	border-collapse: collapse;
}

.vodtable th,
.vodtable td {
	box-sizing: border-box;
}

/* Header row */
.vodtable th {
	position: sticky;
	top: 0px; /* stick to top */
	background-color: #2e2e53;
	color: #f5f5f5;
	z-index: 5;
	border-right: 1px solid black;
}

/* Each cell */
.vodtable td {
	padding: 0.75rem;
	border-bottom: 1px solid var(--text-primary);
	border-right: 1px solid var(--table-border);
	vertical-align: middle;
}

/* Vertical and horizontal centering for all table cells */
.vodtable th,
.vodtable td {
	vertical-align: middle;
	text-align: left;
	padding: 0.75rem;
}

/* Row height */
.vodtable tr {
	height: 2.75rem;
}

/* Last cell in each row */
.vodtable th:last-child,
.vodtable td:last-child {
	border-right: 0;
}

/* Last row */
.vodtable tr:last-child td {
	border-bottom: 0;
}

/* Zebra striping*/
.vodtable tr:nth-child(even) {
	background-color: #181818;
}

/*Hover effect with no hover on header row*/
.vodtable tr:not(:first-child):hover {
	background-color: #222;
}

/* Links inside table */
.vodtable a {
	text-decoration: none;
}

.vodtable a:hover {
	text-decoration: underline;
}

/* Icons */
.vodtable img {
	vertical-align: middle;
	margin: 0 0.25rem;
}

.search-form {
	margin: 10px;
}

.search-form .flex-row {
	height: 30px;
	margin-left: 10px;
	gap: 5px;
}

.search-form input {
	height: 20px;
}

.search-form select {
	height: 25px;
}

.search-form .search-label {
	width: 100px;
	text-align: right;
}

.searchtable input {
	width: 100px;
}

.searchtable p {
	margin: 0;
}

.buttons {
	display: flex;
	gap: 1.5rem;
	margin-top: 10px;
}

form input[type="submit"],
form input[type="button"] {
	width: 5rem;
	height: auto;
	font-size: 1rem;
	padding: 0.25em;
	background-color: #3b3b3b;
	border: 1px solid #ccc;
}

form input[type="submit"]:hover,
form input[type="button"]:hover {
	background-color: #555555;
	color: white;
	cursor: pointer;
}

.pagination {
	display: flex;
	justify-content: center;
	gap: 0.5rem;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 10px 0;
	max-width: 60%;
}

.pagination .page-item {
	display: inline-block;
}

.pagination .page-link {
	display: block;
	padding: 0.6rem 0.9rem;
	text-decoration: none;
	/* border: 1px solid #ccc; */
	border-radius: 5px;
	color: white;
}

.pagination .page-link:hover {
	background-color: #333;
}

.pagination .page-item.active .page-link {
	background-color: #2e2e53;
	color: white;
	border-color: #6161b2;
}

.pagination .page-item.disabled .page-link {
	color: #999;
	pointer-events: none;
}
/* hide "current" in pagination link, kind of hacky but works */
.page-item.active .sr-only {
	display: none;
}
