:root {
	--text-primary: white --table-border: black;
}

.flex-row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.flex-col {
	display: flex;
	flex-direction: column;
	align-content: center;
}

body {
	font-family: sans-serif;
	background-color: #121212;
	color: white;
	/* color-scheme: light dark; */
	margin: 0;
	height: 100vh;
	a {
		/* default link color */
		color: #6d6dc1;
	}
}

.content-body {
	margin-top: 10px;
}

table,
th,
td {
	border: none;
	text-align: left;
}

.tablerheaders {
	color: #6161b2;
}

.vod-table-container {
	max-height: 83vh;
	min-height: 200px;
	overflow-y: auto;
	overscroll-behavior: contain;
	/* prevent page scrolling at end of vods when scrolling the table */
	max-width: 60%;
	padding: 0;
	transition: max-height 0.3s ease, height 0.3s ease;
	border-radius: 5px;
	margin-left: 0.5rem;
}

/*shrink table when search is open*/
body:has(details[open]) .vod-table-container {
	max-height: 65vh;
}

.vodtable {
	width: 100%;
	/* text-align: left; */
	border-spacing: 0;
	font-family: sans-serif;
	font-size: 1.1rem;
	border-collapse: collapse;
	max-height: 82vh;
	/* border-left: 2px solid #2e2e53; */
	/* border-bottom: 2px solid #2e2e53; */
}

.vodtable th,
.vodtable td {
	box-sizing: border-box;
}

/* Header row */
.vodtable th {
	position: sticky;
	top: 0;
	/* stick to top */
	background-color: #2e2e53;
	color: #f5f5f5;
	z-index: 5;
	border-right: 1px solid black;
	background-clip: padding-box;
}

.patchHeader {
	width: 9%;
}

/* Info icon in header */
.info {
	font-size: 0.9rem;
	font-weight: lighter;
}

/* Each cell */
.vodtable td {
	padding: 0.75rem;
	border-bottom: 1px solid var(--text-primary);
	border-right: 1px solid var(--table-border);
	vertical-align: middle;
}

/* Vertical and horizontal centering for all table cells */
.vodtable th,
.vodtable td {
	vertical-align: middle;
	text-align: left;
	padding: 0.75rem;
}

/* Row height */
.vodtable tr {
	height: 2.75rem;
}

/* Last cell in each row */
.vodtable th:last-child,
.vodtable td:last-child {
	border-right: 0;
}

/* Last row */
.vodtable tr:last-child td {
	border-bottom: 0;
}

/* Zebra striping*/
.vodtable tr:nth-child(even) {
	background-color: #181818;
}

/*Hover effect with no hover on header row*/
.vodtable tr:not(:first-child):hover {
	background-color: #222;
}

/* Links inside table */
.vodtable a {
	text-decoration: none;
}

.vodtable a:hover {
	text-decoration: underline;
}

/* Icons */
.vodtable img {
	vertical-align: middle;
	margin: 0 0.25rem;
}

.content-body-search {
	width: 60%;
	display: flex;
	justify-content: center;
}

summary {
	cursor: pointer;
	background-color: #2e2e53;
	text-align: center;
	padding: 0.5rem;
	border-radius: 5px 5px 0px 0px;
}

summary:hover {
	background-color: #3e3e7a;
}

.search-form {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 0.75rem;
	margin-top: -5px;
	padding-top: 0;
	padding: 0.5rem;
	border-left: 2px solid #2e2e53;
	border-right: 2px solid #2e2e53;
	border-bottom: 2px solid #2e2e53;
	border-radius: 5px;
}

body:has(details[closed]) summary {
	border-bottom: 2px solid #2e2e53;
	border-radius: 5px;
}

.search-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	gap: 0.75rem 1rem;
	align-items: center;
	margin-top: 0.25rem;
}

.form-group {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

.form-group.event-rank {
	grid-column: span 2;
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-items: center;
}

.form-group.full-width {
	grid-column: 1 / -1;
}

.search-form input,
.search-form select {
	padding: 0.35rem 0.5rem;
	font-size: 0.95rem;
	border-radius: 4px;
	border: 1px solid #ccc;
	background-color: #181818;
	color: #f5f5f5;
}

.search-form input::placeholder {
	color: #bbb;
}

.rank-links {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	font-size: 1rem;
}

.buttons {
	display: flex;
	gap: 1rem;
	justify-content: flex-start;
}

.buttons input[type="submit"],
.buttons input[type="button"] {
	background-color: #181818;
	border: 1px solid #ccc;
	color: #f5f5f5;
	cursor: pointer;
	padding: 0.4rem 0.8rem;
	border-radius: 4px;
}

.buttons input[type="submit"]:hover,
.buttons input[type="button"]:hover {
	background-color: #333;
}

.pagination {
	display: flex;
	justify-content: center;
	gap: 0.5rem;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 10px 0;
	max-width: 60%;
	position: relative;
	border-top: none;
}

.pagination .page-item {
	display: inline-block;
}

/* line above pagination */
.pagination::before {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 65%;
	border-top: 1px solid #2e2e53;
}

.pagination .page-link {
	margin-top: 0.35rem;
	display: block;
	padding: 0.6rem 0.9rem;
	text-decoration: none;
	/* border: 1px solid #ccc; */
	border-radius: 5px;
	color: white;
}

.pagination .page-link:hover {
	background-color: #333;
}

.pagination .page-item.active .page-link {
	background-color: #2e2e53;
	color: white;
	border-color: #6161b2;
}

.pagination .page-item.disabled .page-link {
	color: #999;
	pointer-events: none;
}

/* hide "current" in pagination link, kind of hacky but works */
.page-item.active .sr-only {
	display: none;
}

.navbarContainer {
	display: flex;
	height: 2.75rem;
	gap: 5rem;
	background-color: #2e2e53;
	margin-bottom: 0.5rem;
	font-weight: bold;
}

.navbar {
	justify-content: flex-start;
	display: flex;
	border-radius: 0px 0px 5px 5px;
}

.navbar a {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.3s ease;
	padding: 0 1rem;
}

.navbar a:hover {
	background-color: #3e3e7a;
}

.navbar-item.is-active{
	border-bottom: 2px solid white;
	border-radius: 2px;
}

.updateContainer {
	display: flex;
	align-items: center;
	background-color: #2e2e53;
	color: white;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	font-size: 0.9rem;
	font-weight: normal;
	a {
		color: #ffffff;
	}
	a:hover {
		color: #bbbbff;
	}
}


.infoPages{
	margin-left: 1rem;
	margin-right: 1rem;
	font-size: 1.25rem;
}

/*Mobile Fixes*/
@media (max-width: 1000px) {
	.search-grid {
		display: flex;
		flex-direction: column;
	}

	.content-body-search {
		display: flex;
		justify-content: flex-start;
		width: 100%;
	}

	.vod-table-container {
		max-width: 100%;
	}

	details[open] {
		width: 100%;
	}

	details {
		width: 100%;
	}

	.form-group {
		width: 100%;
	}

	.buttons {
		display: flex;
		justify-content: center;
		gap: 10rem;
		width: 100%;
	}

	.buttons input[type="submit"],
	.buttons input[type="button"] {
		width: 10rem;
		height: 3rem;
	}

	.pagination {
		min-width: 100%;
	}

	table td:first-child,
	table th:first-child,
	table td:last-child,
	table th:last-child {
		display: none;
	}

	.patchHeader {
		width: 10%;
	}

	a {
		color: #6d6dc1;
	}
}
/*1440p*/
@media (min-width: 2560px) {
	.vod-table-container {
  		max-height: 88vh;
	}
	body:has(details[open]) .vod-table-container {
  		max-height: 74.5vh;
	}
}