<div class="updateContainer">
    <p>Last updated: September 2nd, 2025 | 
		<a href="/search?c1=any&c2=any&p1=&p2=&event=Rivalote+de+Invierno+%2725&rank=any">Rivalote de Invierno '25</a>,
		<a href="/search?c1=any&c2=any&p1=&p2=&event=Rivalote+de+Oto%C3%B1o+%2725&rank=any">Rivalote de Otoño '25</a>,
		<a href="/search?c1=any&c2=any&p1=&p2=&event=Rivalito+Charr%C3%BAa+%2311&rank=any">Rivalito Charrúa #11</a>,
		<a href="/search?c1=any&c2=any&p1=&p2=&event=Rivalito+Charr%C3%BAa+%2310&rank=any">Rivalito Charrúa #10</a>,
		<a href="/search?c1=any&c2=any&p1=&p2=&event=Rivalote+de+Primavera+%2724&rank=any">Rivalote de Primavera '24</a>,
		<a href="/search?c1=any&c2=any&p1=&p2=&event=Run+the+Rivals+%2327&rank=any">Run the Rivals #27</a>
    </p>
</div>