<div class="updateContainer">
    <p>Last updated: August 30th 2025 |
    <a href="/search?c1=any&c2=any&p1=&p2=&event=Hop+On+Rivals+%2331&rank=any">Hop On Rivals #31</a>,
    <a href="/search?c1=any&c2=any&p1=&p2=&event=Guild+Gauntlet+2&rank=any">Guild Gauntlet 2</a>,
    <a href="/search?c1=any&c2=any&p1=&p2=&event=Collision+2025&rank=any">Collision 2025</a>, 
    <a href="/search?c1=any&c2=any&p1=&p2=&event=Run+the+Rivals+%2326&rank=any">Runway Rivals #26</a>
    </p>
</div>