<div class="updateContainer">
    <p>Last updated: September 7th, 2025 | 
		<a href="/?c1=any&c2=any&p1=&p2=&event=Riptide+2025&rank=any">Riptide 2025</a>,
		<a href="/?c1=any&c2=any&p1=&p2=&event=Straight+Into+The+Abyss+22&rank=any">Straight Into The Abyss 22</a>,
		<a href="/?c1=any&c2=any&p1=&p2=&event=Run+the+Rivals+%2327&rank=any">Run the Rivals #27</a>,
		<a href="/?c1=any&c2=any&p1=&p2=&event=Rivalote+de+Invierno+%2725&rank=any">Rivalote de Invierno '25</a>
    </p>
</div>