<div class="updateContainer">
    <p>Last updated: Happy Slade Release! | April 16th, 2026 | 
		<a href="/?c1=any&c2=any&p1=&p2=&event=Straight+Into+The+Abyss+%2345&rank=any">Straight Into The Abyss #45</a>,
		<a href="/?c1=any&c2=any&p1=&p2=&event=Run+The+Rivals+%2353&rank=any">Run The Rivals #53</a>,
		<a href="/?c1=any&c2=any&p1=&p2=&event=Immortal+Fight+Night+%23271&rank=any">Immortal Fight Night #271</a>,
		<a href="/?c1=any&c2=any&p1=&p2=&event=Fusion+%23290&rank=any">Fusion #290</a>,
		<a href="/?c1=any&c2=any&p1=&p2=&event=RAM+RAMPAGE+PRIME&rank=any">RAM RAMPAGE PRIME</a>
    </p>
</div>