<div class="updateContainer">
    <p>Last updated: November 16th, 2025 | 
		<a href="/?c1=any&c2=any&p1=&p2=&event=Run+The+Rivals+%2337&rank=any">Run The Rivals #37</a>,
		<a href="/?c1=any&c2=any&p1=&p2=&event=House+of+Aether+%233&rank=any">House of Aether #3</a>,
		<a href="/?c1=any&c2=any&p1=&p2=&event=Straight+Into+The+Abyss+26+Wnrs+Rnd+1&rank=any">Straight Into The Abyss 26</a>,
    </p>
</div>