<div class="updateContainer">
    <p>Last updated: May 12th, 2026 | 
		<a href="/?c1=any&c2=any&p1=&p2=&event=Immortal+Fight+Night+%23275&rank=any">Immortal Fight Night #275</a>,
		<a href="/?c1=any&c2=any&p1=&p2=&event=King+2026&rank=any">King 2026</a>,
		<a href="/?c1=any&c2=any&p1=&p2=&event=Straight+Into+The+Abyss+%2348&rank=any">Straight Into The Abyss #48</a>,
		<a href="/?c1=any&c2=any&p1=&p2=&event=Run+The+Rivals+%2356&rank=any">Run The Rivals #56</a>,
		<a href="/?c1=any&c2=any&p1=&p2=&event=Immortal+Fight+Night+%23274&rank=any">Immortal Fight Night #274</a>
    </p>
</div>