{% if vods %}
<div class="vod-table-container">
  <table class="vodtable">
    <tr>
      <th style="width:8.5%" title="MM/DD/YY">Date <span class="info">&#128712;</span></th>
      <th>Event</th>
      <th>Match</th>
      <th>Round</th>
      <th class="patchHeader" title="Patches are guessed from the YouTube upload date and not guaranteed to be accurate.">Patch <span class="info">&#128712;</span></th>
    </tr>
    {% for vod in vods %}
    <tr>
      <td>{{ vod.vod_date.strftime("%m/%d/%y") if vod.vod_date else '' }}</td>
      <td>
        <a href="/?c1=any&c2=any&p1=&p2=&event={{ vod.event_name | urlencode | replace('%20', '+') }}&rank=any">
          {{ vod.event_name }}
        </a>
      </td>
      <td>
        <span>
          <a href="{{ vod.url }}" rel="noopener noreferrer">
            <img src="{{ vod.c1_icon_url }}" width="24" height="24"/> {{ vod.p1_tag }} vs. 
            <img src="{{ vod.c2_icon_url }}" width="24" height="24"/> {{ vod.p2_tag }}
          </a>
        </span>
      </td>
      <td>
        {% if vod.round %}{{ vod.round }}{% endif %}
      </td>
      <td>
        {% if vod.patch_name %}
          <a href="{{ vod.patch_url }}" rel="noopener noreferrer">{{ vod.patch_name }}</a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% else %}
No VODs found for this search.
{% endif %}
